<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tabla Fuerza vs Dureza</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img src="https://4.bp.blogspot.com/-9QdI4DgsvcA/WSI4tCJwSFI/AAAAAAAANrY/pHU1sTBtpL0ANStZJ5KPlq1Qs_3kBFtNwCLcB/s1600/18360890_10101756736692931_2051965501_n.jpg" width="80" height="80"></ion-img>
</ion-content>
